config MMP_PANEL_TPOHVGA
	bool "tpohvga panel TJ032MD01BW support"
	depends on SPI_MASTER
	default n
	help
		tpohvga panel support

config MMP_PANEL_HX8394_IPS3P5071
	bool "MIPI panel hx8394-ips3p5071 support"
	default n
	help
		MIPI panel hx8394-ips3p5071 support
