menuconfig MARVELL_DRIVERS
	bool "Marvell kernel module drivers"
	---help---
	  marvell kernel module drivers

if MARVELL_DRIVERS

config MRVL_DEBUG
	tristate "Support Marvell debug features"
	default y
	---help---
	  This will enable Marvell debug features.

config MRVL_SW_JTAG
	tristate "Marvell software jtag driver"
	default n
	help
	  Marvell software jtag driver to simulate jtag access

endif
