if MMP_DISP

config MMP_DISP_CONTROLLER
	bool "mmp display controller hw support"
	default y
	help
		Marvell MMP display hw controller support
		this controller is used on Marvell PXA910
		MMP2 MMP3 PXA988 PXA1L88 PXA1U88 PXA1928 chips
		will register vdma, ctrl, dsi, panel for
		display

config MMP_DISP_SPI
	bool "mmp display controller spi port"
	depends on MMP_DISP_CONTROLLER && SPI_MASTER
	default y
	help
		Marvell MMP display hw controller spi port support
		will register as a spi master for panel usage

endif
