/*
 *  Copyright (C) 2014 Marvell Technology Group Ltd.
 *  Author: Yi Zhang <yizhang@marvell.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
#include "pxa1936-board-common.dtsi"

/ {
	compatible = "marvell,pxa1936-dkb", "marvell,pxa1936";
	soc {
		apb@d4000000 {
			twsi1: i2c@d4010800 {
				touch1: s3202@720p {
					avdd-supply = <&ldo6>;
				};

				touch2: s3202@1080p {
					avdd-supply = <&ldo6>;
				};
			};

			twsi2: i2c@d4037000 {
				status = "okay";

				pmic0: 88pm880@30 {
					reg = <0x30>;
					interrupts = <0 4 IRQ_TYPE_LEVEL_HIGH>;
					interrupt-parent = <&gic>;

					dvc {
						pinctrl-names = "default";
						pinctrl-0 = <&dvc_pmx_func>;
					};

					/*
					 * TODO: remove later, fake ldo,
					 * to pass compile
					 */
					ldo19: regulator-ldo19 {
					};
				};

				pmic2: 88pm860@38 {
					compatible = "marvell,88pm860";
					reg = <0x38>;
					marvell,pmic-type = <1>;
					/* no codec_int currently, comment out now */
					/*
					interrupt-parent = <&gpio>;
					interrupts = <124 0x1>;
					marvell,88pm805-irq-write-clear;
					*/
					pm860_codec: pm860_codec {
						compatible = "marvell,88pm860-codec";
						#dailink-cells = <1>;
					};
				};
			};
		};
	};
};

#include "88pm88x.dtsi"
#include "88pm880.dtsi"
#include "88pm88x_battery_common.dtsi"
#include "88pm88x_sp4555557sa.dtsi"
#include "88pm880_pxa1936_dkb.dtsi"
