/*
 *  Copyright (C) 2014 Marvell Technology Group Ltd.
 *  Author: Tim Wang <wangtt@marvell.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
#include "pxa1936-board-common.dtsi"

/ {
	compatible = "marvell,pxa1936-dkb", "marvell,pxa1936";
	soc {
		apb@d4000000 {
			twsi2: i2c@d4037000 {
				status = "okay";

				pmic0: 88pm860@30 {
					reg = <0x30>;
					interrupts = <0 4 IRQ_TYPE_LEVEL_HIGH>;
					interrupt-parent = <&gic>;

					onkey {
						onkey-gpio-number = <0>;
						/* hardware reset: just reset */
						hw-rst-type = <1>;
						/* long onkey: power down */
						long-onkey-type = <1>;
					};

					vbus {
						vbus-gpio = <0xff>;
						id-gpadc = <2>;
					};

					dvc {
						pinctrl-names = "default";
						pinctrl-0 = <&dvc_pmx_func>;
					};
				};

				pmic1: 88pm830@68 {
					/* gpio 4, 19, 124 */
					pinctrl-names = "default","sleep";
					pinctrl-0 = <&pmic1_pins>;
					pinctrl-1 = <&pmic1_pins_sleep>;

					reg = <0x68>;
					interrupt-parent = <&gpio>;
					interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
					edge-wakeup-gpio = <4>;

					/* this is a temporary solution, only need vbus driver */
				        charger {
				        };
				        battery {
						marvell,fg-has-external-storage;
						external-storage = <&pmic0>;
						external-resistor = <200>; /* mohm */
				        };
				        led {
					        flash-en-gpio = <124>;
					        flash-txmsk-gpio = <19>;
						status = "okay";
				        };
					vbus {
						status = "okay";
					};
				        debug {
				        };
			       };

				pmic2: 88pm860@38 {
					compatible = "marvell,88pm860";
					reg = <0x38>;
					marvell,pmic-type = <0>;
					/* no codec_int currently, comment out now */
					/*
					interrupt-parent = <&gpio>;
					interrupts = <124 0x1>;
					marvell,88pm805-irq-write-clear;
					*/
					pm860_codec: pm860_codec {
						compatible = "marvell,88pm860-codec";
						#dailink-cells = <1>;
					};
				};
			};
		};
	};

};

#include "88pm860.dtsi"
#include "88pm860_pxa1936_dkb.dtsi"
#include "88pm830.dtsi"
#include "88pm830_battery_common.dtsi"
#include "88pm830_sp4555557sa.dtsi"
