/*
 *  Copyright (C) 2014 Marvell Technology Group Ltd.
 *  Author: Dongjiu Geng <djgeng@marvell.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
#include "pxa1908-dkb.dtsi"

/ {
	compatible = "marvell,pxa1908-dkb", "marvell,pxa1908";

	soc {
		apb@d4000000 {
			pmx: pinmux@d401e000 {
				sspa1_func: sspa1_func {
				};
			};
		};
	};

};
