/*
 *  Copyright (C) 2012 Marvell Technology Group Ltd.
 *  Author: Jing Xiang <jing.xiang@marvell.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
#include "pxa1928.dtsi"
#include "pxa1928concord-pinfunc.h"
#include "../../../../include/dt-bindings/interrupt-controller/irq.h"

/ {
	model = "PXA1928";
	compatible = "marvell,pxa1928-concord", "marvell,pxa1928";

	aliases {
		serial0 = &uart2;
		serial1 = &uart1;
		serial2 = &uart0;
		serial3 = &uart3;
		i2c0 = &twsi0;
		i2c1 = &twsi1;
		i2c2 = &twsi2;
		i2c3 = &twsi3;
		i2c4 = &twsi4;
		i2c5 = &twsi5;
	};

	gpio_keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys_pins>;
		#address-cells = <1>;
		#size-cells = <0>;

		volume-up {
			label = "Volume Up";
			linux,code = <115>; /* KEY_VOLUMEUP */
			gpios = <&gpio GPIO(15) 1>;
		};
		volume-down {
			label = "Volume Down";
			linux,code = <114>;/* KEY_VOLUMEDOWN */
			gpios = <&gpio GPIO(17) 1>;
		};
	};

	soc {
		axi@d4200000 {	/* AXI */
			dsi: dsi@d420b800 {
				marvell,phy-name = "mmp_dsi1";
				marvell,plat-path-name = "mmp_pnpath";
				marvell,dsi-lanes = <4>;
				marvell,burst-mode = <2>;
				marvell,hbp-en;
				status = "okay";
				clocks = <&soc_clocks PXA1928_CLK_DISP_ESC_CLK>;
				clock-names = "esc_clk";
			};

			vdma: vdma@d427f000 {
				marvell,vdma-num = <4>;
				marvell,vdma-ch-clk-ctrl;
				status = "okay";
				clocks = <&soc_clocks PXA1928_CLK_DISP_VDMA_EN>;
				clock-names = "vdma_clk_gate";
				vdma1 {
					marvell,vdma-id = <0>;
					marvell,sram-size = <69632>;
					marvell,is_vid = <0>;
				};
				vdma2 {
					marvell,vdma-id = <1>;
					marvell,sram-size = <0>;
					marvell,is_vid = <0>;
				};
				vdma3 {
					marvell,vdma-id = <2>;
					marvell,sram-size = <60928>;
					marvell,is_vid = <1>;
				};
				vdma4 {
					marvell,vdma-id = <3>;
					marvell,sram-size = <0>;
					marvell,is_vid = <1>;
				};
			};

			apical: apical@d420b400 {
				marvell,apical-num = <1>;
			};

			disp: disp@d420b000 {
				marvell,disp-name = "mmp_disp";
				marvell,path-num = <1>;
				status = "okay";
				clocks = <&soc_clocks PXA1928_CLK_DISP_DISP1_EN>,
					<&soc_clocks PXA1928_CLK_DISP_AXI_CLK>;
				clock-names = "disp1_clk_gate", "axi_clk";
				path1 {
					marvell,path-name = "mmp_pnpath";
					marvell,overlay-num = <2>;
					marvell,overlay-table = <0>, <1>;
					marvell,output-type = <1>;
					marvell,path-config = <0x10>;
					marvell,link-config = <1>;

					disp_apmu_ver {
						version = "ax";
					};
				};
			};

			fb: fb {
				marvell,fb-name = "mmp_fb";
				marvell,path-name = "mmp_pnpath";
				marvell,overlay-id = <1>;
				marvell,default-pixfmt = <0x109>;
				marvell,buffer-num = <3>;
				marvell,fb-mem = <0x17000000>;
				status = "okay";
			};

			fb1: fb-overlay {
				marvell,fb-name = "mmp_fb_overlay";
				marvell,path-name = "mmp_pnpath";
				marvell,overlay-id = <0>;
				status = "okay";
			};
		};

		apb@d4000000 {
			pmx: pinmux@d401e000 {
				status = "okay";
				/* pin base, nr pins & gpio function */
				pinctrl-single,gpio-range = <PXA1928_GPIO_PINMUX>;

				gpio_keys_pins: pinmux_gpio_keys_pins {
					pinctrl-single,pins = <GPIO(DKIN0) GPIO(DKIN1)>;
					MFP_LPM_PULL_HIGH;
				};

				twsi0_pins: pinmux_twsi0_pins {
					pinctrl-single,pins = <PWR_SCL PWR_SDA>;
					MFP_DEFAULT;
				};

				twsi0_gpio_pins: pinmux_twsi0_gpio_pins {
					pinctrl-single,pins = <GPIO(PWR_SCL_GPIO) GPIO(PWR_SDA_GPIO)>;
					MFP_DEFAULT;
				};

				twsi0_cp_pins: pinmux_twsi0_cp_pins {
					pinctrl-single,pins = <PWR_CP_SCL PWR_CP_SDA>;
					MFP_DEFAULT;
				};

				twsi1_pins: pinmux_twsi1_pins {
					pinctrl-single,pins = <TWSI1_SCL TWSI1_SDA>;
					MFP_DEFAULT;
				};

				twsi1_gpio_pins: pinmux_twsi1_gpio_pins {
					pinctrl-single,pins = <GPIO(TWSI1_SCL_GPIO) GPIO(TWSI1_SDA_GPIO)>;
					MFP_DEFAULT;
				};

				twsi2_pins: pinmux_twsi2_pins {
					pinctrl-single,pins = <TWSI2_SCL TWSI2_SDA>;
					MFP_DEFAULT;
				};

				twsi2_gpio_pins: pinmux_twsi2_gpio_pins {
					pinctrl-single,pins = <GPIO(TWSI2_SCL_GPIO) GPIO(TWSI2_SDA_GPIO)>;
					MFP_DEFAULT;
				};

				twsi2_isp_pins: pinmux_isp_twsi2_pins {
					pinctrl-single,pins = <TWSI2_SCL_ISP TWSI2_SDA_ISP>;
					MFP_DEFAULT;
				};

				twsi2_isp_gpio_pins: pinmux_isp_twsi2_gpio_pins {
					pinctrl-single,pins = <GPIO(TWSI2_SCL_ISP_GPIO) GPIO(TWSI2_SDA_ISP_GPIO)>;
					MFP_DEFAULT;
				};

				twsi3_pins: pinmux_twsi3_pins {
					pinctrl-single,pins = <TWSI3_SCL TWSI3_SDA>;
					MFP_DEFAULT;
				};

				twsi3_gpio_pins: pinmux_twsi3_gpio_pins {
					pinctrl-single,pins = <GPIO(TWSI3_SCL_GPIO) GPIO(TWSI3_SDA_GPIO)>;
					MFP_DEFAULT;
				};

				twsi4_pins: pinmux_twsi4_pins {
					pinctrl-single,pins = <TWSI4_SCL TWSI4_SDA>;
					MFP_DEFAULT;
				};

				twsi4_gpio_pins: pinmux_twsi4_gpio_pins {
					pinctrl-single,pins = <GPIO(TWSI4_SCL_GPIO) GPIO(TWSI4_SDA_GPIO)>;
					MFP_DEFAULT;
				};

				twsi5_pins: pinmux_twsi5_pins {
					pinctrl-single,pins = <TWSI5_SCL TWSI5_SDA>;
					MFP_DEFAULT;
				};

				twsi5_gpio_pins: pinmux_twsi5_gpio_pins {
					pinctrl-single,pins = <GPIO(TWSI5_SCL_GPIO) GPIO(TWSI5_SDA_GPIO)>;
					MFP_DEFAULT;
				};
			};

			twsi0: i2c@d4011000 {
				pinctrl-names = "default", "gpio", "i2c_cp";
				pinctrl-0 = <&twsi0_pins>;
				pinctrl-1 = <&twsi0_gpio_pins>;
				pinctrl-2 = <&twsi0_cp_pins>;
				i2c-gpio = <&gpio PWR_SCL_GPIO 0 &gpio PWR_SDA_GPIO 0>;
				mrvl,i2c-apdcp;
				status = "okay";
			};

			twsi1: i2c@d4031000 {
				pinctrl-names = "default", "gpio";
				pinctrl-0 = <&twsi1_pins>;
				pinctrl-1 = <&twsi1_gpio_pins>;
				i2c-gpio = <&gpio TWSI1_SCL_GPIO 0 &gpio TWSI1_SDA_GPIO 0>;
				status = "okay";
			};

			twsi2: i2c@d4032000 {
				pinctrl-names = "default", "gpio";
				pinctrl-0 = <&twsi2_pins>;
				pinctrl-1 = <&twsi2_gpio_pins>;
				i2c-gpio = <&gpio TWSI2_SCL_GPIO 0 &gpio TWSI2_SDA_GPIO 0>;
				status = "okay";
			};

			twsi3: i2c@d4033000 {
				pinctrl-names = "default", "gpio";
				pinctrl-0 = <&twsi3_pins>;
				pinctrl-1 = <&twsi3_gpio_pins>;
				i2c-gpio = <&gpio TWSI3_SCL_GPIO 0 &gpio TWSI3_SDA_GPIO 0>;
				status = "okay";
			};

			twsi4: i2c@d4033800 {
				pinctrl-names = "default", "gpio";
				pinctrl-0 = <&twsi4_pins>;
				pinctrl-1 = <&twsi4_gpio_pins>;
				i2c-gpio = <&gpio TWSI4_SCL_GPIO 0 &gpio TWSI4_SDA_GPIO 0>;
				status = "okay";
			};

			twsi5: i2c@d4034000 {
				pinctrl-names = "default", "gpio";
				pinctrl-0 = <&twsi5_pins>;
				pinctrl-1 = <&twsi5_gpio_pins>;
				i2c-gpio = <&gpio TWSI5_SCL_GPIO 0 &gpio TWSI5_SDA_GPIO 0>;
				status = "okay";
			};
		};
	};

	ion {
		marvell,ion-nr = <2>;
		status = "okay";
		heap1 {
			marvell,ion-name = "carveout_heap";
			marvell,ion-type = <2>;
			marvell,ion-id = <2>;
			marvell,ion-base = <0x1200000>;
			marvell,ion-size = <0>;
		};
		heap2 {
			marvell,ion-name = "system_heap";
			marvell,ion-type = <0>;
			marvell,ion-id = <0>;
		};
	};
};
