/*
 *  Copyright (C) 2014 Marvell Technology Group Ltd.
 *  Author: Tim Wang <wangtt@marvell.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
#include "pxa1936-board-common.dtsi"

/ {
	compatible = "marvell,pxa1936-dkb", "marvell,pxa1936";
};
